In [206]:
import pandas as pd

In [207]:
pd.set_option('display.max_columns', None)
pd.set_option("display.expand_frame_repr", False)

In [208]:
from src.use_case.dataCaseFlow.readData import ReadCaseFlowData
from src.adapter.dataframe.pandas.index import PandasDataFrame

In [209]:
caseFlowData = ReadCaseFlowData(dataframe=PandasDataFrame())

In [211]:
df = caseFlowData.getData("Case")

2025-02-05 13:31:21 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-05 13:31:21 - Supabase ->> Connecting to Supabase
2025-02-05 13:31:21 - Supabase ->> Connected to Supabase
2025-02-05 13:31:21 - Supabase ->> Getting data from table: Case
2025-02-05 13:31:22 - Supabase ->> Data from table Case retrieved successfully
2025-02-05 13:31:22 - PandasDataFrame ->> Converting data to DataFrame

In [202]:
df.shape

(4498, 78)

In [182]:
df[df["internal_number"] == "10013836720245020262"]

Empty DataFrame
Columns: [id, title, responsible, type, contract, internal_number, external_number, status, phase, client_id, system_client_id, claimant_position, nature_process, relevant_topic, claimant, process_number, litis_passive, hvk_entry_date, existing_defense, observation, lawyer_responsible, active, created_at, distribution_date, opposing_lawyer, uf, city, county, tribunal_justica, procedural_phase, court_room, judicial_instance, passive_litisconsort, value_cause, action_ritual, author_social_name, professional_nature, claimant_position_2, workplace_branch, admission_date, termination_date, type_contractual_termination, last_remuneration, third_party_solvent_insolvent, sensitive_theme, agreement_possibility, case_category, hvk_reception_date, main_requests, service_provider, justification, region, sub_category, object_do, coverage, individual_execution, sentence, trt_acordao, tst_turma, effect_do, number_replaced, trt_acordao_text_input, tst_acordao_text_input, tst_acordao, this_sub_process, process_number_master_case, responsible_judge, trt_turma, object_do_text_input, number_replaced_value, minister_relator, obrigation_do, effect_sentence, desembargador_relator, expertise, agent_in_litigation, result_examination, event_id]
Index: []

### Tabela Cliente

In [184]:
clientDf = caseFlowData.getData("Client")

2025-02-05 11:17:24 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-05 11:17:24 - Supabase ->> Connecting to Supabase
2025-02-05 11:17:24 - Supabase ->> Connected to Supabase
2025-02-05 11:17:24 - Supabase ->> Getting data from table: Client
2025-02-05 11:17:25 - Supabase ->> Data from table Client retrieved successfully
2025-02-05 11:17:25 - PandasDataFrame ->> Converting data to DataFrame

In [185]:
clientDf

       id                        created_at                                               name                       nickname      type                                     email observation             cpf_cnpj confidential_treatment municipal_registration state_registration foreigner   language  active address_type          address_public_place address_number       address_complement  address_neighborhood    address_city address_state address_zip_code address_country
0    1264  2024-02-17T22:10:46.725046+00:00                 Aljorama Industria e Comercio S.A.  Aljorama Industria e Comercio  JURIDICA          johnny@donaritaembalagens.com.br        None       48978448000100                  False                   None               None     False  Português    True  RESIDENCIAL       Rua Edu Valentim Vilaca             25          Andar 2 Sala 01               Itapeva        Itapeva             MG       37655000            Brasil
1    1247  2024-02-17T22:10:46.826883+00:00  AlmiranteTamandare Empreendimentos Imobiliario...            Almirante Tamandare  JURIDICA  petronilo.neto@tegraincorporadora.com.br        None       13805272000100                  False                   None               None     False  Português    True  RESIDENCIAL     Avenida das Nações Unidas          14261                     None        Vila Gertrudes       São Paulo            SP       04794000            Brasil
2    1219  2024-02-17T22:10:47.052669+00:00                                      Atacadão S.A.                       Atacadão  JURIDICA             gabrielaborges@atacadao.cm.br        None       75315333000109                  False                   None               None     False  Português    True  RESIDENCIAL  Av. Novan Dias De Figueiredo           6169                     None      Vila Maria Baixa       São Paulo            SP             None          Brasil
3    1237  2024-02-17T22:10:47.157793+00:00                                Batata Inglesa Ltda                 Batata Inglesa  JURIDICA         annamelia.brandao@grupoimc.com.br        None       45705817000101                  False                   None               None     False  Português    True  RESIDENCIAL           Rua Licinio Cardoso             91                     None  São Francisco Xavier  Rio de Janeiro            RJ       20960015            Brasil
4    1261  2024-02-17T22:10:47.261506+00:00                                        Blintz Ltda                          Pilar  JURIDICA            jose.edelstein@soupilar.com.br        None       44139018000144                  False                   None               None     False  Português    True  RESIDENCIAL         Avenida Cidade Jardim            400  Andar 10 Conj.104 a 106     Jardim Paulistano       São Paulo            SP       01454901            Brasil
..    ...                               ...                                                ...                            ...       ...                                       ...         ...                  ...                    ...                    ...                ...       ...        ...     ...          ...                           ...            ...                      ...                   ...             ...           ...              ...             ...
227    40  2025-01-04T15:26:07.728593+00:00                                     TESTE EXCLUSÃO                          TESTE      None                        TESTE@TESTE.COM.BR        None          12309812309                   True                   None               None      True       None   False  RESIDENCIAL                         TESTE          TESTE                     None                 TESTE        TESTANDO          PARA      12312312343           INDIA
228    41  2025-01-04T15:31:39.347167+00:00                               teste caso vinculado                           None      None                           teste@teste.com        None       12121212121212                   None                   None               None      None       None   False         None                         teste          teste                     None                 teste           teste         teste   12121212121212           teste
229    42  2025-01-04T22:44:43.365875+00:00                                              TESTE                           None  JURIDICA                              asafaW@wdada        None              2343252                   True                   None                 GO      True       None   False         None                            as              a                     None        Setor Cristina         Goiânia            GO        74494-300          Brasil
230    45  2025-01-28T15:45:49.825286+00:00                                              TESTE                           None      None                 harleygteixeira@gmail.com        None                   aa                   True                   None                 GO      True       None   False         None                             a              a                     None        Setor Cristina        Trindade            GO         75383597          Brasil
231    46  2025-01-28T15:51:36.805111+00:00                                              TESTE                           None      None                 harleygteixeira@gmail.com        None  54.111.914/00015-91                   True                   None                 GO      True       None   False         None                             a              a                     None        Setor Cristina        Trindade            GO        75383-597          Brasil

[232 rows x 23 columns]

In [186]:
clientDfFiltered = clientDf[clientDf["active"] == True]
columnsFiltredDf = clientDfFiltered[["id", "name", "nickname", "type"]]
columnsFiltredDf

       id                                               name                       nickname      type
0    1264                 Aljorama Industria e Comercio S.A.  Aljorama Industria e Comercio  JURIDICA
1    1247  AlmiranteTamandare Empreendimentos Imobiliario...            Almirante Tamandare  JURIDICA
2    1219                                      Atacadão S.A.                       Atacadão  JURIDICA
3    1237                                Batata Inglesa Ltda                 Batata Inglesa  JURIDICA
4    1261                                        Blintz Ltda                          Pilar  JURIDICA
..    ...                                                ...                            ...       ...
207    24                                             wqerty                           None    FÍSICA
213     6                                       TESTE edição                          TESTE      None
218    33                                               NOVO                          TESTE      None
224    43                                      TESTE - CASOS                           None      None
226    39                          HARLEY GONCALVES TEIXEIRA                           None      None

[195 rows x 4 columns]

In [77]:
columnsFiltredDf[columnsFiltredDf["nickname"] == "Atacadão"]

     id           name  nickname      type
2  1219  Atacadão S.A.  Atacadão  JURIDICA

### Tabela Task

In [24]:
dfTask = caseFlowData.getData("Task")
dfTask

2025-02-04 21:22:21 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-04 21:22:21 - Supabase ->> Connecting to Supabase
2025-02-04 21:22:21 - Supabase ->> Connected to Supabase
2025-02-04 21:22:21 - Supabase ->> Getting data from table: Task
2025-02-04 21:22:22 - Supabase ->> Data from table Task retrieved successfully
2025-02-04 21:22:22 - PandasDataFrame ->> Converting data to DataFrame

,id,subject,description,date_limit,case,executor,finished,observation,status,elaboration_deadline,publication,created_at,last_modified,justification,finished_at,ai_status
0,6119,Publicação Não Vinculada (Analisar),Publicação não vinculada a um caso. Analisar e...,2024-12-20,NaN,0,False,"Não identificamos casos para esta publicação, ...",PENDENTE,None,13760.0,2024-12-19T18:40:13.894909+00:00,2024-12-19T18:40:13.894909+00:00,None,None,N/A
1,6127,Publicação Não Vinculada (Analisar),Publicação não vinculada a um caso. Analisar e...,2024-12-20,NaN,0,False,"Não identificamos casos para esta publicação, ...",PENDENTE,None,13761.0,2024-12-19T18:42:17.213568+00:00,2024-12-19T18:42:17.213568+00:00,None,None,N/A
2,1336,Conferência de prazos e cobrança,TRPE | Processo 0001146-48.2012.5.06.0007 | Da...,2024-03-19,9298.0,0,False,None,PENDENTE,None,2364.0,2024-03-19T21:14:22.415004+00:00,2024-12-19T18:34:59.698495+00:00,None,None,N/A
3,6120,Verificar encerramento do caso,PROCESSO Nº ATORD-0020430-98.2019.5.04.0024\nR...,2024-03-25,10009.0,71,False,Confirmar todas as etapas concluídas \n Obse...,PENDENTE,None,2620.0,2024-12-19T18:40:25.984105+00:00,2024-12-19T18:40:25.984111+00:00,None,None,pending
4,6121,Confirmar encerramento de caso,PROCESSO Nº ATORD-0020430-98.2019.5.04.0024\nR...,2024-03-25,10009.0,0,False,\n Observações da classificação:\n ...,PENDENTE,None,2620.0,2024-12-19T18:40:25.984463+00:00,2024-12-19T18:40:25.984466+00:00,None,None,pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6019,6085,Confirmar encerramento de caso,PROCESSO Nº ATORD-0020430-98.2019.5.04.0024\nR...,2024-03-25,10009.0,0,False,\n Observações da classificação:\n ...,PENDENTE,None,2620.0,2024-12-08T19:01:39.12926+00:00,2024-12-19T18:34:59.698495+00:00,None,None,N/A
6020,6086,Conferência de prazos e cobrança,PROCESSO Nº ATORD-0020430-98.2019.5.04.0024\nR...,2024-03-19,10009.0,0,False,,PENDENTE,None,2620.0,2024-12-08T19:01:39.129267+00:00,2024-12-19T18:34:59.698495+00:00,None,None,N/A
6021,6087,Ciência/Manifestar sobre despacho,PROCESSO Nº ATORD-0020430-98.2019.5.04.0024\nR...,2024-03-19,10009.0,0,False,,PENDENTE,None,2620.0,2024-12-08T19:01:39.129272+00:00,2024-12-19T18:34:59.698495+00:00,None,None,N/A
6022,6088,Cobrança Prazo fatal,PROCESSO Nº ATORD-0020430-98.2019.5.04.0024\nR...,2024-03-18,10009.0,0,False,,PENDENTE,None,2620.0,2024-12-08T19:01:39.129277+00:00,2024-12-19T18:34:59.698495+00:00,None,None,N/A
6023,6091,Tarefa não encontrada pela automação (REVISAR),TÍTULO: 06/12/2024 | TRT-1 - Judiciário\nCABEÇ...,2024-12-09,10321.0,0,False,Nesta publicação existe o vínculo com o caso p...,PENDENTE,2024-12-09,13739.0,2024-12-08T20:02:19.221224+00:00,2024-12-19T18:34:59.698495+00:00,None,None,N/A

In [25]:
dfTask["status"].unique()

array(['PENDENTE', 'PROTOCOLO', 'CONCLUIDO', 'Em Andamento', 'NEC',
       'EM_REVISAO', 'EM_ELABORACAO', 'DESIGNADO', 'ENVIADO',
       'PENDENTE_CONTADOR', 'REVISADO'], dtype=object)

### Tabelas UserTaskType e TaskType

In [26]:
teste = caseFlowData.getData("UserTaskType")
teste

2025-02-04 21:24:48 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-04 21:24:48 - Supabase ->> Connecting to Supabase
2025-02-04 21:24:48 - Supabase ->> Connected to Supabase
2025-02-04 21:24:48 - Supabase ->> Getting data from table: UserTaskType
2025-02-04 21:24:49 - Supabase ->> Data from table UserTaskType retrieved successfully
2025-02-04 21:24:49 - PandasDataFrame ->> Converting data to DataFrame

,id,created_at,updated_at,user,task_type,active
0,23,2024-03-19T00:54:52.5741+00:00,2024-03-19T00:54:52.5741+00:00,69,20,True
1,24,2024-03-19T00:54:54.829638+00:00,2024-03-19T00:54:54.829638+00:00,69,25,True
2,25,2024-03-19T00:54:57.609221+00:00,2024-03-19T00:54:57.609221+00:00,69,3,True
3,27,2024-03-19T00:55:02.51612+00:00,2024-03-19T00:55:02.51612+00:00,69,40,True
4,28,2024-03-19T00:55:04.651954+00:00,2024-03-19T00:55:04.651954+00:00,69,42,True
...,...,...,...,...,...,...
334,356,2025-01-30T19:41:10.356482+00:00,2025-01-30T19:41:10.356482+00:00,10,127,True
335,357,2025-01-30T19:41:13.016432+00:00,2025-01-30T19:41:13.016432+00:00,10,11,True
336,358,2025-01-30T19:41:16.107659+00:00,2025-01-30T19:41:16.107659+00:00,10,106,True
337,359,2025-01-30T19:41:18.462772+00:00,2025-01-30T19:41:18.462772+00:00,10,12,True
338,360,2025-01-30T19:41:21.093005+00:00,2025-01-30T19:41:21.093005+00:00,10,13,True

In [36]:
taskType = caseFlowData.getData("TaskType")
taskTypeFiltered = taskType[taskType["active"] == True]
taskTypeFiltered = taskTypeFiltered[["id", "name", "terms", "observation", "active"]]
taskTypeFiltered

2025-02-04 21:34:30 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-04 21:34:30 - Supabase ->> Connecting to Supabase
2025-02-04 21:34:30 - Supabase ->> Connected to Supabase
2025-02-04 21:34:30 - Supabase ->> Getting data from table: TaskType
2025-02-04 21:34:30 - Supabase ->> Data from table TaskType retrieved successfully
2025-02-04 21:34:30 - PandasDataFrame ->> Converting data to DataFrame

,id,name,terms,observation,active
0,2,Conferência de prazos e cobrança,[],None,True
1,20,Análise e execução após ATA,"[Ata publicada, Decisões em ATA, Registro de a...",Verificar determinações e prazos,True
2,25,Ciência/Manifestar sobre despacho,[],None,True
3,3,Ciência da Distribuição,"[DISTRIBUIÇÃO, PROCESSOS DISTRIBUIDOS, REDISTR...",None,True
4,33,Cobrança Prazo fatal,[],None,True
...,...,...,...,...,...
102,127,Ciência do Julgamento,"[designado julgamento, pauta de julgamento]",None,True
103,11,teste,[teste],teste,True
104,12,Teste caso padrão,[],,True
105,13,caso padrão teste,[],,True
106,106,ACORDOS - DIA 1,[],None,True

### Tabela User e Profile

In [35]:
user = caseFlowData.getData("User")
userFiltred = user[user["active"] == True]
userFiltred = userFiltred[["id", "name", "surname", "profile", "gender", "modality", "active"]]
userFiltred

2025-02-04 21:32:05 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-04 21:32:05 - Supabase ->> Connecting to Supabase
2025-02-04 21:32:05 - Supabase ->> Connected to Supabase
2025-02-04 21:32:05 - Supabase ->> Getting data from table: User
2025-02-04 21:32:05 - Supabase ->> Data from table User retrieved successfully
2025-02-04 21:32:05 - PandasDataFrame ->> Converting data to DataFrame

,id,name,surname,profile,gender,modality,active
0,39,Mariana,Couto Ferreira teste,9.0,FEMININO,PRESTADOR DE SERVIÇOS,True
1,18,Pedro,Obalhe,1.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
2,90,Gustavo\n,Costa da Silva,2.0,None,None,True
3,12,Vitor,Gabriel2,8.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
4,27,Harley,Gonçalves Teixeira,1.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
6,28,Amanda,Lorena,1.0,FEMININO,PRESTADOR DE SERVIÇOS,True
7,31,Ketley,Passos,1.0,FEMININO,PRESTADOR DE SERVIÇOS,True
8,52,Maria,Advogado02,9.0,FEMININO,PRESTADOR DE SERVIÇOS,True
9,112,Jorge,Nespoli Farran,2.0,None,None,True
10,88,Gabrielle\n,Fernandes Kairoff,2.0,None,None,True
11,82,Erica,Pires Marcial,2.0,None,None,True
12,84,Flavia,Mina Watanabe,4.0,None,None,True
13,87,Frederico,Jessé Nogueira Martins de Sousa\n,2.0,None,None,True
14,89,Giovana\n,Ijano Quinalha,2.0,None,None,True
15,91,Lais\n,Eugenio Faria,2.0,None,None,True
16,92,Luiz \n,Carlos Dias Filho,4.0,None,None,True
17,113,Nataly,Albuquerque,2.0,FEMININO,None,True
18,93,Marcella,Corrêa Marques Gonçalves dos Santos,2.0,None,None,True
19,94,Marina\n,Duarte Casemiro,2.0,None,None,True
20,95,Marjorie\n,Morata,2.0,None,None,True
21,97,Michel,Zumerkorn Hassan,4.0,None,None,True
22,99,Pedro Henrique,Taranto Lemos,2.0,None,None,True
23,102,Thaisa,Martins da Silva,2.0,None,None,True
24,105,Wagner \n,Yukito Kohatsu,4.0,None,None,True
26,0,DEFAULT,HVK,1.0,None,None,True
29,101,Thais Massae,Kanazawa,2.0,None,None,True
30,100,Schaika,Barg Pinto,4.0,None,None,True
31,117,Jhonattan,Parlote Da Silva,2.0,MASCULINO,None,True
32,68,Root,HVK,1.0,None,None,True
33,11,nayume,demesio,1.0,FEMININO,None,True
36,26,Luis,Hernandez,1.0,MASCULINO,None,True
37,72,Ana Carolina,Correa,2.0,FEMININO,None,True
38,13,Vitor,Gabriel,1.0,None,None,True
39,73,Ana Carolina,de Almeida Signoreto,2.0,FEMININO,None,True
40,14,caseflow,admin,NaN,None,None,True
41,15,Fausto,Silva,3.0,None,None,True
43,69,Vinícius,Graciano,1.0,None,PRESTADOR DE SERVIÇOS,True
45,20,vitor,outlook,1.0,MASCULINO,None,True
46,23,TESTE USUARIO 1,TESTE USUARIO 1,2.0,None,None,True
47,25,Designer,UXUI,1.0,None,None,True
49,30,Matheus,Dorneles,1.0,MASCULINO,None,True
50,107,Alexandre,Fraga Parola Villa Guimarães,2.0,MASCULINO,None,True
51,57,Gelson,Lopes do Nascimento,1.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
52,71,Adriana,Silva Cabral,2.0,FEMININO,PRESTADOR DE SERVIÇOS,True
53,61,Teste cadastro,Cadastro de teste,9.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
54,59,Gabriel,Conceição,1.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
55,55,Lucas,Advogado05,9.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
56,62,Perfil Advogado,Advogado,9.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
57,64,Matheus 2,teste,9.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
59,54,Ana,Advogado04,9.0,FEMININO,PRESTADOR DE SERVIÇOS,True
60,49,João,Advogado01,9.0,MASCULINO,PRESTADOR DE SERVIÇOS,True
61,53,Pedro,Advogado03,9.0,MASCULINO,PRESTADOR DE SERVIÇOS,True

In [34]:
profile = caseFlowData.getData("Profile")
profileFiltred = profile[profile["active"] == True]
profileFiltred = profileFiltred[["id", "name", "active"]]
profileFiltred

2025-02-04 21:30:01 - ReadCaseFlowData ->> Reading data from Supabase
2025-02-04 21:30:01 - Supabase ->> Connecting to Supabase
2025-02-04 21:30:01 - Supabase ->> Connected to Supabase
2025-02-04 21:30:01 - Supabase ->> Getting data from table: Profile
2025-02-04 21:30:01 - Supabase ->> Data from table Profile retrieved successfully
2025-02-04 21:30:01 - PandasDataFrame ->> Converting data to DataFrame

   id              name  active
0   9          ADVOGADO    True
1   1     ADMINISTRADOR    True
2   4        SUPERVISOR    True
8   8  Teste permissão     True
9   3        ESTAGIÁRIO    True

## Join entre tabela Case e Client